@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section text-center">
    <div class="container">
        <h1 class="display-4 mb-4">ASP.NET Core Middleware Test Platform</h1>
        <p class="lead">Comprehensive testing for core middleware services in MVC applications</p>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <a href="/SqlServer" class="card feature-card text-decoration-none">
            <div class="card-body text-center">
                <div class="feature-icon">
                    <img src="~/images/icons/SQLServer.svg" alt="SQL Server" class="mw-100" style="height: 60px;">
                </div>
                <h5 class="card-title">SQL Server</h5>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/MySql" class="card feature-card text-decoration-none">
            <div class="card-body text-center">
                <div class="feature-icon">
                    <img src="~/images/icons/mysql.svg" alt="MySQL" class="mw-100" style="height: 60px;">
                </div>
                <h5 class="card-title">MySQL</h5>
            </div>
            </a>
        </div>
        <div class="col">
        <a href="/Oracle" class="card feature-card text-decoration-none">
            <div class="card-body text-center">
                <div class="feature-icon">
                    <img src="~/images/icons/oracle.svg" alt="Oracle" class="mw-100" style="height: 60px;">
                </div>
                <h5 class="card-title">Oracle</h5>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/PostgreSql" class="card feature-card text-decoration-none">
            <div class="card-body text-center">
                <div class="feature-icon">
                    <img src="~/images/icons/postgresql.svg" alt="PostgreSQL" class="mw-100" style="height: 60px;">
                </div>
                <h5 class="card-title">PostgreSQL</h5>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/Memcached" class="card feature-card text-decoration-none">
            <div class="card-body text-center">
                <div class="feature-icon">
                    <img src="~/images/icons/memcached.svg" alt="Memcached" class="mw-100" style="height: 60px;">
                </div>
                <h5 class="card-title">Memcached</h5>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/Redis" class="card feature-card text-decoration-none">
            <div class="card-body text-center">
                <div class="feature-icon">
                    <img src="~/images/icons/redis.svg" alt="Redis" class="mw-100" style="height: 60px;">
                </div>
                <h5 class="card-title">Redis</h5>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/Http" class="card feature-card text-decoration-none">
            <div class="card-body text-center">
                <div class="feature-icon">
                    <i class="fas fa-globe fa-3x"></i>
                </div>
                <h5 class="card-title">HTTP Client</h5>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/RabbitMQ" class="card feature-card text-decoration-none">
            <div class="card-body text-center">
                <div class="feature-icon">
                    <img src="~/images/icons/rabbitmq.svg" alt="RabbitMQ" class="mw-100" style="height: 60px;">
                </div>
                <h5 class="card-title">RabbitMQ</h5>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/ActiveMQ" class="card feature-card text-decoration-none">
            <div class="card-body text-center">
                <div class="feature-icon">
                    <img src="~/images/icons/activemq.png" alt="ActiveMQ" class="mw-100" style="height: 60px;">
                </div>
                <h5 class="card-title">ActiveMQ</h5>
            </div>
        </a>
    </div>
    </div>
</div>
